  <h1>Message</h1>
  
   <span> User Name: <%= message.user %> <br></span>
   <span> Comment: <%= message.text %> <br></span>
   <span> Date: <%= message.added %> <br></span>

   <a href="/">
    <button>Return</button>
   </a>


 
