  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <div class="message">
    <h2>Message From <%= message.user %></h2>
    <span> User Name: <%= message.user %> <br></span>
    <span> Comment: <%= message.text %> <br></span>
    <span> Date: <%= message.added %> <br></span>
  </div>

   <a href="/">
    <button>Return</button>
   </a>


 
